/* .nav *{
  border: 1px solid white;
} */
.nav{
  width: 300px;
  height: 100%;
  background-color: rgb(0, 0, 0);
}
.active_link{
  /*background: rgba(255, 255, 255, 0.2);*/
  background: red;
}
.visible_dropdown{
  display: block;
}
.nav a, #dropdownMenuButton1{
  padding-block: 12px !important;
  border-radius: 7px !important;
  transition: .3s ease !important;
  display: flex !important;
  align-items: center !important;
}
.nav a:hover, #dropdownMenuButton1:hover{
  background-color: rgba(255, 255, 255, 0.377) !important;
}
.nav ul{
  margin-inline: 24px;
  padding: 0;
}
.nav img{
  margin-right: 12px;
  height: 40px;
}
.nav li{
  margin-block: 2rem;
  align-items: center;
  display: flex;
}